/****** PLACE YOUR CUSTOM STYLES HERE ******/
/*{
    outline: 1px solid rgba(0, 0, 250, 0.3)
}
/*Utilidades*/
/*Para padding y margin derechos e izquierdos*/
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.pr-0 {
    padding-right: 0px;
}

.font-14 {
    font-size: 14px;
}
.font-27 {
    font-size: 27px;
}
.font-42 {
    font-size: 42px;
}
.font-50 {
    font-size: 50px !important;
}
.line-h-125 {
    line-height: 1.25;
}
.spacing-normal {
    letter-spacing: normal;
}

/*Clases particulares*/
.img-ponente img{
    width: 100%;
}
.sch-type {
    text-transform: uppercase;
    font-weight: 600;
    color: #838383;
}
.form-contact input  {
    height: 40px;
    margin-bottom: 20px;
}
.form-contact textarea {
    margin-bottom: 15px;
}
.form-contact button[type="submit"] {
    width: 133px;
}
.social-icons i[class^="ti-"] {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #39f;
    font-size: 21px;
    text-align: center;
    font-color: #39f;
}